.header {
  width: 100%;
  background-color: var(--color-light);
}

.header__container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__container > div:first-child {
  display: flex;
}

.header__cta__section {
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 1.5rem;
  }

  .header__container [type="search"] {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .header__container {
    justify-content: space-between;
  }
}
