.card__pill {
  background-color: white;
  display: flex;
  padding: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 0px 0px 10px 0px rgb(231, 231, 231);
}

.card__photo {
  min-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.card__title a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
}

.card__title a:hover {
  color: var(--color-dark);
}

.card__date {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  margin: 0.5rem;
}

.card__userActions button:not(:last-child) {
  margin-right: 1rem;
}

/* Recipe Pill for Favorites */
.card__favs__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__favs__body h3 {
  width: 100%;
}
