.login_container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.login_form {
  background-color: white;
  padding: 1rem 3rem 3rem;
}

.login_form h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #9cccf7;
}

.form__input {
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
  margin-top: 1rem;
}

.form__input:focus {
  outline: none;
  border: 1px solid blueviolet;
}

.form__submit {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.75rem;
  cursor: pointer;
}

.login_form span[role="alert"] {
  font-size: 1.2rem;
  color: tomato;
}

.form__link {
  text-decoration: none;
}

.block {
  background-color: white;
  text-align: center;
  border-top: 1px solid rgba(180, 180, 180, 0.24);
  padding: 2rem 3rem;
}
