@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

/* Color variables
  ============================= */
:root {
  --color-dark: #132020;
  --color-accent: #005c86;
  --color-base: #182828;
  --color-neutral: #487f99;
  --color-light: #f1f1f1;
  --color-alert: tomato;
}

/* Global
============================ */

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#__next {
  font-family: "Poppins";
  color: var(--color-base);
  background-color: rgb(247, 247, 247);
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Bootstrap Components
============================ */

/* Alert messages list items: */
.alert li {
  font-size: 1.4rem;
}

/* Top nav bar container: */
#responsive-navbar-nav {
  justify-content: flex-end;
}

/* Top nav bar dropdown container: */
.dropdown-menu.show {
  font-size: 1.6rem;
  min-width: 22rem;
}

.ingredients__list .dropdown-menu.show {
  font-size: 1.6rem;
  min-width: 22rem;
  background-color: gold !important;
}

/* Dropdown toggle arrow */

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.155em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

/* Side Navigation Modal */
.offcanvas {
  max-width: 80%;
}
