.search__container {
  font-size: 1.4rem;
  position: relative;
}

.search__bar input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-top: 1px solid gainsboro;
}

.search__results {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: white;
  border: 1px solid gainsboro;
  padding-left: 0;
}

.search__results li {
  list-style: none;
  border-bottom: 1px solid gainsboro;
  padding: 1rem;
  text-transform: capitalize;
}

.item__active {
  background-color: #f7f7f7;
  border-left: 5px solid var(--color-accent);
}

.item__inactive {
  background-color: white;
  border-left: 5px solid white;
}

@media screen and (max-width: 768px) {
  .search__container {
    width: 100%;
    order: 4;
    padding: 0.5rem 0rem;
  }

  .search__bar input {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .search__container {
    flex: 1;
  }
}

.backdrop {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 20%
  );
  content: "";
  z-index: 1;
}
