.footer {
  width: 100%;
  color: var(--color-dark);
  background-color: var(--color-neutral);
}

.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.25rem 1.5rem 0.5rem;
}

.footer__container div {
  padding: 1rem 0rem;
}

.footer__text {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  border-top: 1px solid var(--color-dark);
}
