/* Wizard Styles
  ============================= */

.btn__display {
  display: inline-block;
}

.btn__hide {
  display: none;
}

/* General Styles
  ============================= */

.create__form {
  max-width: 1000px;
  margin: auto;
  padding: 4rem 4rem 8rem;
  background-color: white;
  font-weight: 400;
  color: var(--color-dark);
}

.create__form h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-neutral);
}

.create__form h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.create__form h3 {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.create__form__controls button {
  padding: 1rem 3rem;
}

.btn__outlined,
.btn__filled,
.ingredients__dropdown > button,
.create__categories div[role="group"] label {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-decoration: none;
  padding: 0.6rem 1.25rem;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

.btn__outlined,
.ingredients__dropdown > button,
.create__categories div[role="group"] label {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.ingredients__dropdown > button:hover,
.create__categories div[role="group"] label:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.ingredients__dropdown .dropdown-item {
  text-transform: capitalize;
}

.create__categories input[id^="cat-btn"]:checked + label,
.btn__filled {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.create__categories input[id^="cat-btn"]:checked + label:focus {
  box-shadow: 0 0 0 0.25rem rgb(189, 189, 189);
}

.btn__filled:hover {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.ingredients__step,
.instructions__step {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.create__form input[type="text"],
.create__form textarea {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid var(--color-neutral);
  width: 100%;
}

/* Categories and cuisine: */
.create__categories div[role="group"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.create__categories div[role="group"] label {
  margin: 0.3rem 0.75rem;
}

.form__section,
.create__categories,
.create__ingredients,
.create__instructions {
  margin-bottom: 2rem;
}

.create__form span[role="alert"] {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: tomato;
  margin-bottom: 1rem;
  display: block;
}

/* Step 1. Ingredients
  ============================= */
.ingredients__step input[type="number"] {
  max-width: 7rem;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid var(--color-neutral);
}

.ingredients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.ingredients__dropdown > button {
  padding: 1rem 1.25rem;
  margin-right: 0.5rem;
}

.ingredients__item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.ingredients__item input[type="number"] {
  width: 9rem;
  margin-right: 0.5rem;
}

.ingredients__item input[type="text"] {
  margin-right: 0.5rem;
  width: 50%;
}

.create__instructions > button,
.create__ingredients > button,
.create__form button[type="submit"] {
  padding: 1rem;
}

/* Step 2. Instructions
  ============================= */
.step__item textarea {
  width: 90%;
}

.step__item {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

@media screen and (max-width: 599px) {
  .create__form {
    padding: 1rem 2rem;
  }

  .ingredients__item input[type="number"] {
    width: 10rem;
  }

  .create__instructions > button,
  .create__ingredients > button {
    width: 100%;
  }

  .ingredients__item input[type="text"] {
    margin-top: 0.5rem;
    width: 100%;
  }
  .step__item > button,
  .ingredients__item > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
