/* Wizard Styles
  ============================= */

.btn__display {
  display: inline-block;
}

.btn__hide {
  display: none;
}

.create__form {
  max-width: 1000px;
  margin: auto;
  padding: 4rem 4rem 0rem;
  background-color: white;
  font-weight: 400;
  color: var(--color-dark);
}

.create__form h2,
.create__form label,
.create__ingredients > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.btn__outlined,
.btn__filled,
.create__categories div[role="group"] label {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-decoration: none;
  padding: 0.6rem 1.25rem;
  border-radius: 2px;
  cursor: pointer;
}

.btn__outlined,
.create__categories div[role="group"] label {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn__outlined,
.create__categories div[role="group"] label:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.create__categories input[id^="cat-btn"]:checked + label,
.btn__filled {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.create__categories input[id^="cat-btn"]:checked + label:focus {
  box-shadow: 0 0 0 0.25rem rgb(189, 189, 189);
}

.btn__filled:hover {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.ingredients__step,
.instructions__step {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.create__form input[type="text"],
.create__form textarea {
  font-size: 1.4rem;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--color-neutral);
}

.create__categories {
  margin-top: 2rem;
}

.create__categories div[role="group"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.create__categories div[role="group"] label {
  margin: 0.3rem 0.75rem;
}

.create__form span[role="alert"] {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: tomato;
  margin-bottom: 1rem;
  display: block;
}

/* Step 1. Ingredients
  ============================= */
.ingredients__step h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-neutral);
  margin-bottom: 1.5rem;
}

.ingredients__step input[type="number"] {
  max-width: 7rem;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid var(--color-neutral);
}

.create__ingredients {
  margin-top: 3rem;
}

.ingredients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin-top: 1.5rem;
  padding: 0;
}

.ingredients__dropdown > button {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-decoration: none;
  padding: 1rem 1.25rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.ingredients__dropdown > button:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.ingredients__item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.ingredients__item input[type="number"] {
  width: 9rem;
  margin-right: 0.5rem;
}

.ingredients__item input[type="text"] {
  margin-right: 0.5rem;
}

.create__ingredients > button {
  padding: 1rem;
}

/* Step 2. Instructions
  ============================= */
.instructions__step textarea {
  width: 100%;
}

.create__instructions .step__item {
  display: flex;
  margin-bottom: 1rem;
}

.create__instructions h3 {
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.create__photo {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.create__photo label {
  margin-right: 1rem;
}

.create__comments {
  margin-top: 2rem;
}

@media screen and (max-width: 599px) {
  .create__form {
    padding: 1rem 2rem;
  }

  .create__ingredients > button {
    width: 100%;
  }
}
