.btn__publish__recipe,
.btn__delete__recipe,
.btn__outlined,
.btn__filled {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  border-radius: 2px;
  cursor: pointer;
}

/* Style for edit link to match group height */
.btn__edit__recipe {
  padding: 0.5rem 1.2rem;
}

/* Delete Recipe Button */
.btn__delete__recipe {
  background-color: rgb(255, 248, 248);
  color: var(--color-alert);
  border: 1px solid var(--color-alert);
}

.btn__publish__recipe,
.btn__outlined {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn__filled {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

/* Hover States */
.btn__delete__recipe:hover {
  background-color: var(--color-alert);
  color: rgb(255, 248, 248);
  border: 1px solid var(--color-alert);
}

.btn__publish__recipe:hover,
.btn__outlined:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: 1px solid var(--color-accent);
}

.btn__filled:hover {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/* Button Mobile */
.button__mobile {
  background-color: transparent;
  border: none;
}

.button__mobile__icon {
  height: 30px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button__mobile__icon div {
  background-color: var(--color-neutral);
  height: 2px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.button__mobile__icon div:nth-child(1) {
  width: 50%;
}

.button__mobile__icon div:nth-child(2) {
  width: 75%;
}

.button__mobile__icon div:nth-child(3) {
  width: 100%;
}

/* Button Add/Remove Favorites */

.btn__favorites {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn__favorites svg {
  width: 25px;
  height: 25px;
}

.btn__favorites .icon__active {
  fill: var(--color-alert);
}

.btn__favorites .icon__inactive {
  fill: var(--color-neutral);
}

.btn__favorites.fav__label__active {
  color: var(--color-alert);

  background-color: rgb(255, 248, 248);
  color: var(--color-alert);
  border: 1px solid var(--color-alert);
}

/* Bootstrap Tooltip */
.favorites__tooltip {
  background-color: var(--color-dark);
  color: white;
  opacity: 0.7;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .button__mobile {
    order: 1;
  }
}
