.tabs__container h2 {
  font-weight: 300;
  font-size: 3rem;
}

.tabs__header {
  padding-right: 2rem;
}

.tab__link {
  background-color: var(--color-neutral);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.4rem;
  font-size: 1.7rem;
  letter-spacing: 0.02rem;
  width: 50%;
}

.tab__link:hover {
  cursor: pointer;
}

.tab__link.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.tab__content ul {
  padding-left: 0;
}

.tab__content li {
  list-style: none;
}

.tab__content {
  display: none;
  padding: 3rem 2rem;
  font-size: 1.7rem;
  font-weight: normal;
}

.tab__content.active {
  display: block;
}

/* Ingredients checkboxes/lables */
.ingredients__item {
  display: flex;
  align-items: baseline;
}

.ingredients__item input {
  color: white;
  accent-color: var(--color-light);
}

.ingredients__item label {
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

.ingredients__item input:checked + label {
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
}
