.homepage__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0rem 1.5rem 1.5rem;
}

.home__hero {
  background: url("../../public/images/annie-spratt-XiWtCLWK5K8-unsplash.jpg")
    no-repeat;
  background-position: center center;
  background-size: cover;
  height: 320px;
  max-width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: white;
}

.home__hero h1 {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: var(--color-dark) 1px 0 15px;
  line-height: 1rem;
}

.home__hero p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.25%;
  text-shadow: black 0px 4px 8px;
  margin-bottom: 1rem;
}

.home__hero a {
  color: white;
  padding: 1.25rem 3.5rem;
  background-color: var(--color-alert);
  text-decoration: none;
  font-size: 2rem;
  font-weight: light;
  letter-spacing: 0.1rem;
  box-shadow: 0px 0px 10px 0px var(--color-dark);
}

.home__hero a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(255, 152, 141);
  text-decoration-color: rgb(255, 152, 141);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

/* Home Recipes Sections */
.recipes__section h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 2rem;
  color: var(--color-dark);
  flex-basis: 100%;
}

.recipes__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 699px) {
  .home__hero {
    height: 200px;
  }
  .home__hero h1 {
    font-size: 2.75rem;
  }
  .home__hero p {
    font-size: 1.75rem;
  }
  .home__hero .home__welcome {
    font-size: 3.25rem;
  }
  .home__hero a {
    font-size: 1.5rem;
  }
  .recipes__section h2 {
    font-size: 3rem;
  }
  .recipes__section {
    flex-direction: column;
  }
}
