.card__container {
  margin-bottom: 1rem;
}

.recipes__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 699px) {
  .recipes__section {
    flex-direction: column;
  }

  .card__container {
    width: 100%;
  }
}

@media screen and (min-width: 698px) and (max-width: 999px) {
  .card__container {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 1000px) {
  .card__container {
    width: calc(32%);
  }
}
