.dashboard__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem 0.5rem;
}

.dashboard__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral);
  margin-bottom: 2rem;
}

.dashboard__nav .tab__link {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: var(--color-neutral);
}

.dashboard__nav .tab__link:hover {
  cursor: pointer;
}

.dashboard__nav .tab__link.active {
  background-color: var(--color-dark);
  text-decoration: underline;
}

.dashboard__body {
  position: relative;
}

.dashboard__body .tab__content {
  display: none;
}

.dashboard__body .tab__content.active {
  display: block;
}

.dashboard__body .tab__results {
  width: 100%;
  margin: 1.5rem 0rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

@media screen and (min-width: 440px) {
  .dashboard__nav .tab__link {
    width: 33%;
  }
}

@media screen and (min-width: 441px) and (max-width: 900px) {
  .dashboard__body .tab__results {
    margin: 2rem 0rem;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .dashboard__body .tab__results {
  }
}
