.signup__container {
  max-width: 420px;
  margin: auto;
  padding: 4rem 1.5rem 0rem;
}

.signup__form {
  background-color: white;
  padding: 1rem 3rem 3rem;
}

.signup__form h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #9cccf7;
}

.form__input {
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
  margin-top: 1rem;
}

.form__input:focus {
  outline: none;
  border: 1px solid blueviolet;
}

.form__submit {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.75rem;
  cursor: pointer;
}

.form__link {
  text-decoration: none;
}

.signup__form span[role="alert"] {
  font-size: 1.2rem;
  color: tomato;
}

.signup__links {
  background-color: white;
  text-align: center;
  border-top: 1px solid rgba(180, 180, 180, 0.24);
  padding: 1.5rem 3rem;
}

.signup__links p:first-child {
  margin-bottom: 0.5rem;
}
