.ingredients__container {
    max-width: 420px;
    margin: auto;
    padding: 4rem 1.5rem 0rem;
  }

  .ingredients__input {
    width: 100%;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0.75rem 0;
  }

  .ingredients__inputArea {
    width: 100%;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0.75rem 0;
    height: 10rem;
  }

  .ingredients__inputNumber {
    width: 5rem;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0.75rem 0;
  }

  .ingredients__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .ingredients__categories > label {
    padding: 1rem;
  }

  .ingredients__addIngredient {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 0.5rem;;
    align-items: center;
  }

  .ingredients__inputUnit {
    width: 5rem;
    padding: 1rem;
  }

  .ingredients__addIngredient > h2 {
    width: 100%;
  }

  .ingredients__dropdown > button {
   padding: 1rem;
  }

  .ingredients__add {
    width: 100%;
    padding: 1rem;
  }

  .ingredients__inputIngredient {
    width: 30%;
    padding: 1rem;
  }

  .ingredients__list {
    list-style-type: none;
    padding: 0;
  }

  .ingredients__list > li {
    display: flex;
  }
.testcheckbox {
  background-color: blue;

}