.ingredients__list fieldset {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.ingredients__list fieldset div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.ingredients__list label {
  flex-basis: 90%;
  font-size: 1.5rem;
}

.ingredients__list input {
  flex-basis: 5%;
  color: white;
  accent-color: var(--color-light);
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.ingredients__list button {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.25rem 0;
  margin-bottom: 2rem;
}
