.instructions__label {
  color: var(--color-neutral);
  font-weight: 500;
  text-decoration: underline;
}

.instructions__step {
  line-height: 2.5rem;
}

.instructions__comments {
  white-space: pre-line;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.instructions__list {
  padding-left: 0;
}

.instructions__list li {
  list-style: none;
  margin-bottom: 0.35rem;
}
