.recipe {
  max-width: 1100px;
  margin: 0 auto;
  padding-inline: 4rem;
  padding-block: 6rem;
  background-color: white;
}

.recipe header {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  column-gap: 2rem;
  grid-template-areas:
    "image title"
    "image author"
    "image useractions"
    "image description"
    "image details";
}

.recipe header > button {
  position: absolute;
  right: 0px;
  top: 5px;
}

.recipe header > button svg {
  width: 40px;
  height: 40px;
}

.recipe header figure {
  width: 100%;
  height: 250px;
  grid-area: image;
}

.recipe__title {
  text-transform: capitalize;
  max-width: 90%;
  font-weight: 300;
  font-size: 4rem;
  margin: 0;
  grid-area: title;
}

.recipe__author {
  grid-area: author;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: var(--color-neutral);
}

.recipe__author span a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: bold;
}

.recipe__description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  grid-area: description;
}

.recipe__details {
  display: flex;
  flex-wrap: wrap;
  grid-area: details;
}

.recipe__details div {
  margin-right: 3rem;
}

.recipe__details h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

.recipe__details p {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-neutral);
  font-weight: 500;
  letter-spacing: 0.125rem;
}

.recipe__user__actions {
  display: flex;
  align-items: center;
  grid-area: useractions;
}

.recipe__user__actions button:first-child {
  margin-right: 1rem;
}

.recipe__user__actions a {
  padding: 0.55rem 2rem;
  margin-right: 1rem;
}

.recipes__btn__expand {
  position: absolute;
  right: 0;
  right: 1rem;
  background-color: transparent;
  border: none;
  opacity: 0.6;
}

.recipe section {
  position: relative;
  padding-top: 1.5rem;
  display: flex;
  column-gap: 2rem;
}

h2.recipe__subtitle {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.recipe section .recipe__ingredients {
  flex-basis: 35%;
}

.recipe section .recipe__instructions {
  flex-basis: 65%;
}

@media screen and (max-width: 900px) {
  .recipe {
    padding-block: 1.5rem;
  }

  .recipe__title {
    font-size: 3rem;
  }

  .recipe__description.with__capital::first-letter {
    font-size: 350%;
    padding-top: 13px;
    margin-right: 3px;
    margin-left: -2px;
    color: var(--color-neutral);
    float: left;
    font-weight: 300;
  }

  .recipe header {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "author"
      "useractions"
      "image"
      "description"
      "details";
  }

  .recipe header figure {
    height: 100%;
    padding-block: 1rem;
  }

  .recipe section {
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .recipe {
    padding: 1.5rem;
  }

  .recipe__title {
    font-size: 2.5rem;
    max-width: 85%;
  }

  .recipe header > button {
    top: 0;
  }
}
