.recipe {
  max-width: 1100px;
  margin: 0 auto;
  padding: 6rem;
  background-color: white;
}

.recipe__header {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}

.recipe__title__responsive {
  display: none;
}

.recipe__title {
  font-weight: 300;
  font-size: 4rem;
  margin-top: 0;
}

.recipe__subtitle {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.recipe__author {
  width: 50%;
}

.recipe__author a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--color-accent);
}

.recipe__photo {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.recipe__description {
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.recipe__details {
  display: flex;
}

.recipe__details div {
  margin-right: 3rem;
}

.recipe__servings h4,
.recipe__servings p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

.recipe__servings p {
  font-size: 1.3rem;
  color: var(--color-neutral);
}

.recipe__user__actions button {
  margin-right: 1rem;
}

.recipes__btn__expand {
  position: absolute;
  right: 0;
}

.recipe__ingredients_container {
  position: relative;
  padding-top: 2rem;
}

@media screen and (max-width: 740px) {
  .recipe {
    padding: 0rem 2rem 2rem;
  }

  .recipe__header {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .recipe__title {
    display: none;
  }

  .recipe__title__responsive {
    font-size: 3.3rem;
    font-weight: 300;
    display: block;
  }

  .recipe__photo {
    height: 300px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .firstcharacter {
    color: var(--color-neutral);
    float: left;
    font-weight: 400;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .recipe__description {
    margin-bottom: 2rem;
  }

  .recipe__details {
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 741px) and (max-width: 850px) {
  .recipe {
    padding: 2rem;
  }

  .recipe__photo {
    height: 230px;
    width: 230px;
  }
}

@media screen and (min-width: 851px) {
  .recipe__details {
    margin: 2rem 0rem 0.5rem;
  }

  .recipe__ingredients_container {
    display: flex;
  }

  .recipe__ingredients {
    min-width: 35%;
  }

  .recipe__instructions {
    padding-left: 3rem;
  }
}
