.tabs__container {
  background-color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  transform: scale(0);
  z-index: 3;
}

.tabs__container ul {
  padding-left: 0;
}

.tabs__container li {
  list-style: none;
}

.tabs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.tabs__header > p {
  font-weight: 300;
  font-size: 3.5rem;
}

.tabs__container.active {
  opacity: 1;
  transform: scale(1);
}

.tab__link {
  background-color: var(--color-neutral);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tab__link:hover {
  cursor: pointer;
}

.tab__link.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.tab__content {
  display: none;
  padding: 3rem;
  font-size: 1.8rem;
  font-weight: normal;
}

.tab__content.active {
  display: block;
}

/* Ingredients checkboxes/lables */
.ingredients__item {
  display: flex;
  align-items: baseline;
}

.ingredients__item input {
  color: white;
  accent-color: var(--color-light);
}

.ingredients__item label {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.ingredients__item input:checked + label {
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
}
